@{
}
@model PizzaItem

<div class="card h-100">
        <img src="@Model.Thumbnail" class="card-img-top" alt="..." style="aspect-ratio:3/2">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Description</p>
        </div>

</div>